<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>

<style>
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: yellow;
  color: black;
}
ul {
  list-style-position: outside;
}
h1.sticky {
   position: sticky;
  position: -webkit-sticky;
  top: 0;
  }

.nav li {
  display: inline-block;
  font-size: 10px;

  
}
</style>



  <meta charset="UTF-8">
  <title>Diabetes Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_diabetes.css') }}">
  
</head>

<body>
<div>
<body style="background-color:Ivory;">
<header style="background-color: WhiteSmoke">
		
	
<h1  class="sticky" style="background-color: #00ff00; text-align:center; font-size:120px;" >Health Care </h1>

<section><ul class="nav">

<li> 
	<h3><A HREF="#"> HOME PAGE </A></h3></li>
<li><h3 ><A HREF="{{ url_for('home1')}}" > Heart Disease Prediction</A></h3></li>
<li><h3 ><A HREF="{{ url_for('home2')}}" >Diabetes Prediction </A></h3></li>
<li><h3 ><A HREF="{{ url_for('home3')}}" >BMI Prediction </A></h3></li>
</section>
</div>
 <div class="login">
	<h1>Diabetes Predictor</h1>

     
    <form action="{{ url_for('predict2')}}" method="post">
        <input type="text" name="Glucose Level" placeholder="Glucose Level" required="required" />
    	<input type="text" name="Insulin" placeholder="Insulin" required="required" />
        <input type="text" name="BMI" placeholder="BMI" required="required" />
        <input type="text" name="Age" placeholder="Age" required="required" />
		

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>