<!DOCTYPE html>
<html lang="en">
<head>
<style>
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: yellow;
  color: black;
}
ul {
  list-style-position: outside;
}
h1.sticky {
   position: sticky;
  position: -webkit-sticky;
  top: 0;
  }

.nav li {
  display: inline-block;
  font-size: 10px;

  
}
</style>

<title> Body Mass Index Prediction </title>
</head> 
<body><div>
<body style="background-color:Ivory;">
<header style="background-color: WhiteSmoke">
		
	
<h1  class="sticky" style="background-color: #00ff00; text-align:center; font-size:120px;" >Health Care </h1>

<section><ul class="nav">

<li> 
	<h3><A HREF="#"> HOME PAGE </A></h3></li>
<li><h3 ><A HREF="{{ url_for('home1')}}" > Heart Disease Prediction</A></h3></li>
<li><h3 ><A HREF="{{ url_for('home2')}}" >Diabetes Prediction </A></h3></li>
<li><h3 ><A HREF="{{ url_for('home3')}}" >BMI Prediction </A></h3></li>
</section>
</div>
	 
   <h2>Body Mass Index Prediction</h2>
	<h3>Predict the Body Mass Index </h3>
            
   
      <table>
		<tr><td> Name
			<td>  <input type=string name="name"  placeholder="Name " >
        </tr>
		<form action="{{ url_for('predict3')}}" method="post">
        <tr><td> Gender 
            <td>  <input  name="gender" type=radio   value=0> Male <input  name="gender" type=radio   value=1> Female
		</tr>
		<tr><td> Height
			<td>  <input type=number name="height"  placeholder="Height (in inches) " >
        </tr>
		<tr><td> Weight
			<td>  <input type=number name="weight"  placeholder="Weight (in Kgs) " >
        </tr>
		
		
        <tr>
		<td colspan=2 align=center><br><button type="submit">Predict BMI</button>
		</tr>
	  </table>
    </form>
       
     <br> {{pred}}<br>  

  </body>
</html>